
body{
    margin: 0;
    padding: 0;
    background-color: rgb(4, 34, 19);
}
.imagens{
    width: 800px;
    height: 533px;
    margin: 50px auto;
    border: 10px solid rgba(57, 102, 74, 0.657);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
    overflow: hidden;  
}
.imagens ul {   
    display: flex; 
    margin:10px auto;
    padding: 0;
    margin: 0;
    list-style: none;    
}

.imagens li{
    position: relative;
    animation: moveImage 30s linear infinite;
    animation-delay: 1s;   
}
@keyframes moveImage{
    0%,25%{left: 0px;}
        
    30%,50%{left: -800px;}

    55%,75%{left: -1600px;}

    80%, 90%{left:-2400px;}
    100%{left: 0px;}
}
